<template>
  <p>
    <button type="button" @click="newItem">New</button>
  </p>
  <admin-page-size-changer
    :value="pageSize"
    @pageSizeChange="store.changePageSize"
  />
  <admin-pagination
    class="mb-4"
    v-model="currentPage"
    :total-pages="totalPages"
  />
  <admin-table
    :loading="loading"
    :items="list[currentPage]"
    :fields="fields"
    :actions="actions"
    @edit="editItem"
    @view="viewItem"
    @delete="deleteItem"
  >

  </admin-table>
</template>

<script setup>
import { watch } from "vue";
import use<%= moduleNameCap %>Store from "../store";
import { storeToRefs } from "pinia";
import { useRouter } from "vue-router";

const store = use<%= moduleNameCap %>Store();

const router = useRouter();

const { list, loading, pageSize, totalPages, currentPage } = storeToRefs(store);

const fields = [];

const actions = [
  {
    action: "edit",
    text: "Edit",
    props: {},
  },
  {
    action: "view",
    text: "View",
    props: {},
  },
  {
    action: "delete",
    text: "Delete",
    props: {},
  },
];

const viewItem = async (item) => {
  await router.push({ name: "<%= moduleName %>View", params: { id: item.id } });
};
const editItem = async (item) => {
  await router.push({ name: "<%= moduleName %>Edit", params: { id: item.id } });
};
const newItem = async () => {
  await router.push({ name: "<%= moduleName %>New" });
};
const deleteItem = async (item) => {
  await store.deleteItem(item)
};

watch(
  [currentPage, pageSize],
  (newVal) => {
    const [page, size] = newVal
    if (!store.list[page]) {
      store.getList({ page, size });
    }
  },
  {
    immediate: true,
  }
);
</script>
