<template>
  <p v-if="loading">Loading...</p>
  <template v-else>
    {{ currentItem }}
    <p>
      <button type="button" @click="router.go(-1)">Back</button>
    </p>
  </template>
</template>

<script setup>
import { useRouter } from "vue-router";
import use<%= moduleNameCap %>Store from "../store";
import { storeToRefs } from "pinia";
import { onMounted, onUnmounted } from "vue";

const props = defineProps({
  id: {
    type: Number,
    default: 0,
  },
});

const router = useRouter();

const store = use<%= moduleNameCap %>Store();

const { loading, currentItem } = storeToRefs(store);

onMounted(async () => await store.getItem(props.id));

onUnmounted(async () => await store.resetItem());
</script>
