export default {
  path: "<%= moduleName %>",
  component: () => import(/* webpackChunkName: "<%= moduleName %>" */ "./views/<%= moduleName %>.vue"),
  children: [
    {
      path: "",
      name: "<%= moduleName %>List",
      props: true,
      component: () => import(/* webpackChunkName: "<%= moduleName %>_list" */ "./views/<%= moduleName %>List.vue"),
    },
    {
      path: "edit/:id",
      name: "<%= moduleName %>Edit",
      props: true,
      component: () => import(/* webpackChunkName: "<%= moduleName %>_edit" */ "./views/<%= moduleName %>Edit.vue"),
    },
    {
      path: "view/:id",
      name: "<%= moduleName %>View",
      props: true,
      component: () => import(/* webpackChunkName: "<%= moduleName %>_view" */ "./views/<%= moduleName %>View.vue"),
    },
    {
      path: "create",
      name: "<%= moduleName %>New",
      redirect: {
        name: "<%= moduleName %>Edit",
        params: { id: 0 },
      },
    },
  ],
};
